:root {
   font-family: "Lato", sans-serif;
   font-family: "Oxygen", sans-serif;
   color: white;
   min-height: 100vh;
}
body {
   margin: 0;
}
.main-container {
   padding-top: 1.7rem;
   background: url("../assets/Images/frond_pluie.jpg");
   background-size: cover;
   box-sizing: border-box;
   /* border-radius: 30px;
   border: 5px solid #fffcfc;
   box-shadow: -1px 1px 3px 0px rgba(14, 24, 46, 0.9),
      1px -1px 2px 0px rgba(14, 24, 46, 0.9),
      -1px -1px 2px 0px rgba(14, 24, 46, 0.2),
      1px 1px 2px 0px rgba(14, 24, 46, 0.2),
      1px -1px 2px 0px rgba(14, 24, 46, 0.5) inset,
      -1px 1px 2px 0px rgba(14, 24, 46, 0.3) inset; */
   min-height: 100vh;
}
header,
main,
footer .home {
   padding-left: 1.94rem;
   padding-right: 1.94rem;
}
footer {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
}
.flex-row {
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: center;
}
.gap4 {
   gap: 0.4rem;
}
.flex-column {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
}
#today-date {
   color: #fff;
   text-align: center;
   font-size: 0.75rem;
   font-family: Lato;
   font-weight: 600;
   letter-spacing: 0.075rem;
}
#current-country {
   text-align: center;
   font-size: 0.75rem;
   font-family: Lato;
   font-weight: 300;
}
#current-weather {
   margin-bottom: 1 rem;
}
#current-temp {
   color: #fff;
   font-size: 4.5rem;
   font-family: Oxygen;
}
h1 {
   font-family: "Oxygen";
   font-weight: bold;
}
p {
   font-family: "Oxygen";
   font-weight: bold;
}
#local-position {
   font-size: 2.25rem;
   font-family: Lato;
   font-weight: 700;
   margin-left: 0.3rem;
   margin-right: 0.3rem;
}
#local-previsions {
   gap: 1.5rem;
   justify-content: center;
}
.pad3 {
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
}
.gap3 {
   gap: 3rem;
}
.daily-previsions {
   gap: 0.25rem;
}
.width-limited {
   min-width: 3.5rem;
}
.wiki-short-description {
   /* text-align: justify; upgrade */
   text-align: justify;
   font-size: 0.875rem;
   font-family: Lato;
   /* font-weight: 600;      600 is too fat*/
   font-weight: 400;
   letter-spacing: 0.04375rem;
   padding-left: 2.19rem;
   padding-right: 2.19rem;
}
#local-conditions {
   width: 16.5rem;
   justify-content: space-between;
   margin: auto;
}
#next-days-previsions {
   min-width: 320px;
   background-color: #ffffff26;
   border-radius: 15px;
   border: 1px solid #ffffff26;
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
   backdrop-filter: blur(20px);
}
hr {
   width: 12.5rem;
   color: rgba(255, 255, 255, 0.5);
   margin-top: 1rem;
   margin-bottom: 1rem;
}
button {
   color: white;
   width: 6.25rem;
   height: 1.875rem;
   border: 2px solid white;
   border-radius: 15px;
   background-color: #ffffff26;
   text-align: center;
   margin-bottom: 0.5rem;
}
#menu-left {
   margin-right: auto;
   margin-left: 3rem;
}
#menu-right {
   margin-left: auto;
   margin-right: 3rem;
}
footer {
   border-radius: 0px 0px 25px 25px;
   background: rgba(82, 82, 82, 0.6);
   height: 3.75rem;
}
#menu-bar {
   height: 3.75rem;
}
.standard-numbers {
   font-size: 0.75rem;
   color: white;
}
.standard-texts {
   text-align: center;
   font-size: 0.75rem;
   font-family: Lato;
   font-weight: 700;
   letter-spacing: 0.0375rem;
   color: white;
}
.thumb {
   width: 50%;
   height: 2.25rem;
   outline: 1px solid #ffffff26;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   background-color: #ffffff26;
   backdrop-filter: blur(20px);
}
.thumb-active {
   width: 50%;
   height: 2.25rem;
   outline: 1px solid #ffffff26;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   background-color: rgba(255, 255, 255, 0.42);
   backdrop-filter: blur(20px);
}
.thumb-name {
   width: 5.5rem;
   text-align: center;
}
#wiki-google-container {
   margin-bottom: 2.94rem;
}
#wiki-google-contents {
   background-color: #ffffff26;
   outline: 1px solid #ffffff26;
   backdrop-filter: blur(20px);
}

/* favorites */
.favorites-main-container {
   /* border-radius: 30px;
   border: 5px solid #fffcfc; */
   background: linear-gradient(
      180deg,
      rgba(47, 61, 83, 0.9) 30%,
      rgba(47, 61, 83, 0.7) 99.79%
   );
   box-shadow: -1px 1px 3px 0px rgba(14, 24, 46, 0.9),
      1px -1px 2px 0px rgba(14, 24, 46, 0.9),
      -1px -1px 2px 0px rgba(14, 24, 46, 0.2),
      1px 1px 2px 0px rgba(14, 24, 46, 0.2),
      1px -1px 2px 0px rgba(14, 24, 46, 0.5) inset,
      -1px 1px 2px 0px rgba(14, 24, 46, 0.3) inset;
   padding-top: 3.4rem;
   min-height: 100vh;
   box-sizing: border-box;
}
#favorites-title {
   margin-bottom: 1.1rem;
}
.cards-container {
   gap: 1.56rem;
}
.fav-cards {
   border-radius: 15px;
   border: 1px solid rgba(255, 255, 255, 0.01);
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(20px);
   width: 9.375rem;
   height: 6.25rem;
   padding: 0.53rem;
   box-sizing: border-box;
}
.fav-temp-weather {
   width: 100%;
   justify-content: space-between;
}
/* .fav-temp {
   padding-right: 0.5rem;
}
.fav-weather {
   padding-left: 0.5rem;
} */
.fav-card-city-title {
   width: 100%;
   justify-content: start;
   font-family: Lato;
   font-weight: 700;
}
.fav-card-country-title {
   width: 100%;
   justify-content: start;
   font-size: 0.75rem;
   font-family: Lato;
   font-weight: 300;
}
.empty-card {
   border-radius: 15px;
   border: 1px dashed #fff;
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(20px);
}
.add-favorite {
   font-size: 1.5rem;
}

/* search */
#search-main-container {
   background: linear-gradient(
      180deg,
      rgba(47, 61, 83, 1) 30%,
      rgba(47, 61, 83, 0.7) 99.79%
   );
   padding-top: 3.4rem;
}
/* .search-main-container {
   border-radius: 30px;
   border: 5px solid #fffcfc;
   background: linear-gradient(
      180deg,
      rgba(47, 61, 83, 1) 30%,
      rgba(47, 61, 83, 0.7) 99.79%
   );
   box-shadow: -1px 1px 3px 0px rgba(14, 24, 46, 0.9),
      1px -1px 2px 0px rgba(14, 24, 46, 0.9),
      -1px -1px 2px 0px rgba(14, 24, 46, 0.2),
      1px 1px 2px 0px rgba(14, 24, 46, 0.2),
      1px -1px 2px 0px rgba(14, 24, 46, 0.5) inset,
      -1px 1px 2px 0px rgba(14, 24, 46, 0.3) inset;
   padding-top: 3.4rem;
} */
.search-bar {
   width: 19.4375rem;
   border-radius: 25px;
   border: 1px solid rgba(255, 255, 255, 0.01);
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(20px);
   justify-content: start;
   margin-bottom: 1.8rem;
}
input[type="text"] {
   width: 16rem;
   color: #fff;
   height: 2.4375rem;
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
   border-width: 0;
   background: rgba(255, 255, 255, 0.15);
}
input::placeholder {
   color: #fff;
   text-align: center;
   font-size: 0.75rem;
   font-family: Lato;
   font-weight: 600;
}
label {
   width: 3rem;
   height: 2.4375rem;
   border-radius: 0px 25px 25px 0px;
   border: 1px solid rgba(255, 255, 255, 0.01);
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(20px);
}
input[type="submit"] {
   display: none;
}
.search-button {
   width: 3rem;
   height: 2.4375rem;
}
.meteo-search {
   gap: 1.25rem;
   margin-bottom: 0.56rem;
   margin-top: 0.56rem;
}

.meteo-icons-containers {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   border: 1px solid rgba(255, 255, 255, 0.01);
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(20px);
   min-width: 2.125rem;
   min-height: 2.125rem;
}
.active {
   border: 1px solid var(--glass-select, rgba(255, 255, 255, 0.42));
   background: var(--glass-select, rgba(255, 255, 255, 0.42));
}
.full-width {
   width: 100%;
}
#main-cards-container {
   gap: 1.56rem;
}
.card-containers {
   border-radius: 25px;
   border: 1px solid rgba(255, 255, 255, 0.01);
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(20px);
   width: 9.37rem;
   padding: 0.53rem;
   box-sizing: border-box;
   align-items: start;
}
.search-temp-weather {
   width: 100%;
   justify-content: space-between;
   margin-bottom: 0.75rem;
}
.results-city-title {
   font-size: 1rem;
}
.search-country-title {
   font-weight: 300;
   margin-bottom: 1rem;
}
.search-bottom-menu {
   margin-top: auto;
   border-radius: 0px 0px 25px 25px;
   background: rgba(82, 82, 82, 0.6);
}
#search-footer-container {
   height: 3.75rem;
   margin-top: auto;
}
button {
   border: red;
   color: red;
}
