:root {
   font-family: "Lato", sans-serif;
   font-family: "Oxygen", sans-serif;
   color: white;
}
body {
   margin: auto;
   max-width: 390px;
}
.main-container {
   padding-top: 2rem;
   background: url(/assets/Icones/frond_pluie.png);
   background-size: cover;
   box-sizing: border-box;
   border-radius: 30px;
   border: 5px solid #fffcfc;
   box-shadow: -1px 1px 3px 0px rgba(14, 24, 46, 0.9),
      1px -1px 2px 0px rgba(14, 24, 46, 0.9),
      -1px -1px 2px 0px rgba(14, 24, 46, 0.2),
      1px 1px 2px 0px rgba(14, 24, 46, 0.2),
      1px -1px 2px 0px rgba(14, 24, 46, 0.5) inset,
      -1px 1px 2px 0px rgba(14, 24, 46, 0.3) inset;
}
header,
main,
footer {
   padding-left: 1.94rem;
   padding-right: 1.94rem;
}
.flex-row {
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: center;
}
.gap4 {
   gap: 0.4rem;
}
.flex-column {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
}
#today-date {
   color: #fff;
   text-align: center;
   font-size: 0.75rem;
   font-family: Lato;
   font-weight: 600;
   letter-spacing: 0.075rem;
}
#current-country {
   text-align: center;
   font-size: 0.75rem;
   font-family: Lato;
   font-weight: 300;
}
#current-weather {
   margin-bottom: 1 rem;
}
#current-temp {
   color: #fff;
   font-size: 4.5rem;
   font-family: Oxygen;
}
h1 {
   font-family: "Oxygen";
   font-weight: bold;
}
p {
   font-family: "Oxygen";
   font-weight: bold;
}
#local-position {
   font-size: 2.25rem;
   font-family: Lato;
   font-weight: 700;
   margin-left: 0.3rem;
   margin-right: 0.3rem;
}
#local-previsions {
   gap: 1.5rem;
   justify-content: center;
}
.pad3 {
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
}
.gap3 {
   gap: 3rem;
}
.daily-previsions {
   gap: 0.25rem;
}
.wiki-short-description {
   /* text-align: justify; upgrade */
   text-align: justify;
   font-size: 0.875rem;
   font-family: Lato;
   /* font-weight: 600;      600 is too fat*/
   font-weight: 400;
   letter-spacing: 0.04375rem;
   padding-left: 2.19rem;
   padding-right: 2.19rem;
}
#local-conditions {
   width: 16.5rem;
   justify-content: space-between;
   margin: auto;
}
#next-days-previsions {
   min-width: 320px;
   background-color: #ffffff26;
   border-radius: 15px;
   border: 1px solid #ffffff26;
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
}
hr {
   width: 12.5rem;
   color: rgba(255, 255, 255, 0.5);
   margin-top: 1rem;
   margin-bottom: 1rem;
}
button {
   color: white;
   width: 6.25rem;
   height: 1.875rem;
   border: 2px solid white;
   border-radius: 15px;
   background-color: #ffffff26;
   text-align: center;
   margin-bottom: 0.5rem;
}
#menu-left {
   margin-right: auto;
   margin-left: 3rem;
}
#menu-right {
   margin-left: auto;
   margin-right: 3rem;
}
footer {
   border-radius: 0px 0px 25px 25px;
   background: rgba(82, 82, 82, 0.6);
   height: 3.75rem;
}
#menu-bar {
   height: 3.75rem;
}
.standard-numbers {
   font-size: 0.75rem;
   color: white;
}
.standard-texts {
   text-align: center;
   font-size: 0.75rem;
   font-family: Lato;
   font-weight: 700;
   letter-spacing: 0.0375rem;
   color: white;
}
.thumb {
   width: 50%;
   height: 2.25rem;
   outline: 1px solid #ffffff26;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   background-color: #ffffff26;
   backdrop-filter: blur(20px);
}
.thumb-name {
   width: 5.5rem;
   text-align: center;
}
#wiki-google-container {
   margin-bottom: 2.94rem;
}
#wiki-google-contents {
   background-color: #ffffff26;
   outline: 1px solid #ffffff26;
   backdrop-filter: blur(20px);
}
